@using System.Security.Claims
@model IEnumerable<CarpooliDotTN.ViewModels.CarpoolCard>

@{
    ViewData["Title"] = "List";
    string UserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<h1>All Carpools</h1>

<p>
    <a asp-action="Add" class="btn btn-primary">Create New</a>
</p>
@using (Html.BeginForm("ListAll", "Carpool", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="filterDepartureCity">Departure City:</label>
                    @Html.TextBox("filterDepartureCity", ViewData["FilterDepartureCity"] as string, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="filterArrivalCity">Arrival City:</label>
                    @Html.TextBox("filterArrivalCity", ViewData["FilterArrivalCity"] as string, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="filterPrice">Max Price:</label>
                    @Html.TextBox("filterPrice", ViewData["FilterPrice"] as string, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="filterNumberOfPlaces">Number of Places:</label>
                    @Html.TextBox("filterNumberOfPlaces", ViewData["FilterNumberOfPlaces"] as string, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="availabiltyFilter">Availability:</label>
                    @Html.DropDownList("availabiltyFilter", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "All", Value = "all" },
                        new SelectListItem { Text = "Open", Value = "open" },
                        new SelectListItem { Text = "Closed", Value = "closed" }
                    },new { @class = "form-control", @value=ViewData["AvailabiltyFilter"] as String })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="ownerFilter" class="control-label">Owner:</label>
                    @Html.DropDownList("ownerFilter", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "All", Value = "all" },
                        new SelectListItem { Text = "Me", Value = "me" },
                        new SelectListItem { Text = "Others", Value = "others" }
                    },new { @class = "form-control" , @value= ViewData["OwnerFilter"] as String})
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="@Url.Action("List", "Carpool")" class="btn btn-default">Clear Filter</a>
            </div>
        </div>
    </div>
}
<hr>

@foreach (var item in Model) {
    <div class="col-lg-8">
    @Html.Partial("_CarpoolCard",item)
    </div>
}

