@using System.Security.Claims
@model IEnumerable<CarpooliDotTN.Models.Carpool>

@{
    ViewData["Title"] = "List";
    string UserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Bootstrap JS and dependencies (optional) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<h1>All Carpools</h1>

<p>
    <a asp-action="Add" class="btn btn-primary">Create New</a>
</p>
@using (Html.BeginForm("List", "Carpool", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="filterDepartureCity">Departure City:</label>
                    @Html.TextBox("filterDepartureCity", ViewData["FilterDepartureCity"] as string, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="filterArrivalCity">Arrival City:</label>
                    @Html.TextBox("filterArrivalCity", ViewData["FilterArrivalCity"] as string, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="filterPrice">Max Price:</label>
                    @Html.TextBox("filterPrice", ViewData["FilterPrice"] as string, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="filterNumberOfPlaces">Number of Places:</label>
                    @Html.TextBox("filterNumberOfPlaces", ViewData["FilterNumberOfPlaces"] as string, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="availabiltyFilter">Availability:</label>
                    @Html.DropDownList("availabiltyFilter", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "All", Value = "all" },
                        new SelectListItem { Text = "Open", Value = "open" },
                        new SelectListItem { Text = "Closed", Value = "closed" }
                    },new { @class = "form-control", @value=ViewData["AvailabiltyFilter"] as String })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="ownerFilter" class="control-label">Owner:</label>
                    @Html.DropDownList("ownerFilter", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "All", Value = "all" },
                        new SelectListItem { Text = "Me", Value = "me" },
                        new SelectListItem { Text = "Others", Value = "others" }
                    },new { @class = "form-control" , @value= ViewData["OwnerFilter"] as String})
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="@Url.Action("List", "Carpool")" class="btn btn-default">Clear Filter</a>
            </div>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPlaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPlaces)
            </td>
                <td>
                    @if (item.IsOpen)
                    {
                        <button type="button" class="btn btn-success">Open</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger">Closed</button>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Owner.FirstName) @Html.DisplayFor(modelItem => item.Owner.LastName)
            </td>
            <td class="d-flex justify-content-between">
                    <a asp-action="Details" class="btn btn-info cols-5 mx-1" asp-route-id="@item.Id">Details</a>
                    @if (UserId!=item.OwnerId)
                    {
                        <a asp-action="Apply" class="btn btn-warning cols-5" asp-controller="Demand" asp-route-id="@item.Id" >Apply</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
