@using System.Security.Claims
@model IEnumerable<CarpooliDotTN.Models.Carpool>

@{
    ViewData["Title"] = "List";
    string UserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<h1>All Carpools</h1>

<p>
    <a asp-action="Add" class="btn btn-primary">Create New</a>
</p>
@using (Html.BeginForm("List", "Carpool", FormMethod.Get))
{
    <div class="filter-container">
        <div class="filter-group">
            <label for="filterDepartureCity">Departure City:</label>
            @Html.TextBox("filterDepartureCity", ViewData["FilterDepartureCity"] as string)
        </div>

        <div class="filter-group">
            <label for="filterArrivalCity">Arrival City:</label>
            @Html.TextBox("filterArrivalCity", ViewData["FilterArrivalCity"] as string)
        </div>

        <div class="filter-group">
            <label for="filterPrice">Max Price:</label>
            @Html.TextBox("filterPrice", ViewData["FilterPrice"] as string)
        </div>

        <div class="filter-group">
            <label for="filterNumberOfPlaces">Number of Places:</label>
            @Html.TextBox("filterNumberOfPlaces", ViewData["FilterNumberOfPlaces"] as string)
        </div>

        <div class="filter-actions">
            <input type="submit" value="Filter" class="btn-filter" />
            <a href="@Url.Action("List", "Carpool")" class="btn-clear-filter">Clear Filter</a>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPlaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPlaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Owner.FirstName) @Html.DisplayFor(modelItem => item.Owner.LastName)
            </td>
            <td class="d-flex justify-content-between">
                    <a asp-action="Details" class="btn btn-info cols-5" asp-route-id="@item.Id">Details</a>
                    @if (UserId!=item.OwnerId)
                    {
                        <a asp-action="Apply" class="btn btn-warning cols-5" asp-controller="Demand" asp-route-id="@item.Id" >Apply</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
